n8n/workflows/event-queue-worker.json
{
  "name": "Event Queue Worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "id": "a3b4c5d6-e7f8-9012-abcd-123456789012",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.appBaseUrl + '/api/workers/events' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.cronSecret }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 55000
        }
      },
      "id": "b4c5d6e7-f8a9-0123-bcde-234567890123",
      "name": "HTTP Request — Event Queue Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-204",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 204,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-1234-cdef-345678901234",
      "name": "IF — Cola vacía",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-processed",
              "name": "processed",
              "value": "={{ $json.body.data.processed }}",
              "type": "number"
            },
            {
              "id": "log-failed",
              "name": "failed",
              "value": "={{ $json.body.data.failed }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-2345-defa-456789012345",
      "name": "Set — Log resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request — Event Queue Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Event Queue Worker": {
      "main": [
        [
          {
            "node": "IF — Cola vacía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Cola vacía": {
      "main": [
        [],
        [
          {
            "node": "Set — Log resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e7f8a9b0-c1d2-3456-efab-567890123456",
  "meta": {
    "instanceId": "383bde83c8f40f9807dee2626a62ac57bbcfa0c3c0b2b2551b71dd028bdd21cd"
  },
  "id": "wEventQueueWorker",
  "tags": []
}
