n8n/workflows/rag-processor.json
{
  "name": "RAG Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "c49ac510-80a5-4a44-9b2f-f4b8696008fb",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.APP_BASE_URL }}/api/workers/rag",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 55000
        }
      },
      "id": "48478282-3eee-4f1b-a75d-8a04295780d7",
      "name": "HTTP Request — RAG Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iU2pm59vosdoAGqW",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-204",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 204,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef1f3020-d364-4323-829d-457755c77bff",
      "name": "IF — Cola vacía",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-processed",
              "name": "processed",
              "value": "={{ $json.body.data.processed }}",
              "type": "number"
            },
            {
              "id": "log-failed",
              "name": "failed",
              "value": "={{ $json.body.data.failed }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "9518c92a-af83-46e0-a5ed-0c644a9e27e2",
      "name": "Set — Log resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request — RAG Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — RAG Worker": {
      "main": [
        [
          {
            "node": "IF — Cola vacía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Cola vacía": {
      "main": [
        [],
        [
          {
            "node": "Set — Log resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b6fbe91b-6ba6-49ff-acb7-bf94120d2b56",
  "meta": {
    "instanceId": "383bde83c8f40f9807dee2626a62ac57bbcfa0c3c0b2b2551b71dd028bdd21cd"
  },
  "id": "wTfo5rkuLceGkkEN",
  "tags": []
}