n8n/workflows/webhook-delivery.json
{
  "name": "Webhook Delivery Worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.APP_BASE_URL }}/api/workers/webhooks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 55000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "HTTP Request — Webhook Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iU2pm59vosdoAGqW",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $json.body.data.processed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "IF — Cola vacía",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-processed",
              "name": "processed",
              "value": "={{ $json.body.data.processed }}",
              "type": "number"
            },
            {
              "id": "log-failed",
              "name": "failed",
              "value": "={{ $json.body.data.failed }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Set — Log resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request — Webhook Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Webhook Worker": {
      "main": [
        [
          {
            "node": "IF — Cola vacía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Cola vacía": {
      "main": [
        [],
        [
          {
            "node": "Set — Log resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567891",
  "meta": {
    "instanceId": "383bde83c8f40f9807dee2626a62ac57bbcfa0c3c0b2b2551b71dd028bdd21cd"
  },
  "id": "wHookDeliveryWorker",
  "tags": []
}
